{
  type: 'object'
  title: 'Get Meeting'
  'x-group-name': 'Meetings'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        meetingId:
          type: 'string'
          title: 'Meeting ID'
}
